.form-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 50px;
}
.form-wrapper .left-side {
  max-width: 50%;
}
@media only screen and (max-width: 768px) {
  .form-wrapper .left-side {
    display: none;
  }
}
.form-wrapper .left-side img {
  max-width: 100%;
  position: sticky;
  top: 30px;
}
.form-wrapper .right-side {
  max-width: 50%;
}
@media only screen and (max-width: 768px) {
  .form-wrapper .right-side {
    max-width: 100%;
  }
}
.form-wrapper .form-container {
  width: 75%;
  margin: 0px auto;
}
@media only screen and (max-width: 992px) {
  .form-wrapper .form-container {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .form-wrapper .form-container {
    width: 75%;
  }
}
@media only screen and (max-width: 576px) {
  .form-wrapper .form-container {
    width: 100%;
  }
}
.form-wrapper .form-container .form-title {
  font-size: 28px;
  font-weight: 400;
  margin: 0px 0px 8px;
}
.form-wrapper .form-container .form-text {
  color: #b3b3b3;
  font-weight: 300;
  margin: 0px 0px 24px;
}